<footer class="footer" style="border-top: 2px solid #e9e9e9; background-color: #fafafa; padding-bottom: 2em; padding-top: 2em;">
    <div class="container" style="display: flex; flex-direction: column; align-items: center; gap: 0.5em;">
        <div>
            <a href="https://www.cemosis.fr">
                <img src="{{{uiRootPath}}}/img/cemosis-logo.svg" alt="Cemosis logo" height="50">
            </a>
            <span style="display: inline-block; width: 16px;"></span>
            <a href="https://numpex.github.io/exa-ma/exama/index.html">
                <img src="{{{uiRootPath}}}/img/logo-numpex-exama-web.png" alt="Exa-Ma logo" height="50">
            </a>
            <span style="display: inline-block; width: 16px;"></span>
            <a href="https://www.economie.gouv.fr/france-2030">
                <img src="{{{uiRootPath}}}/img/Logotype-rouge-bleu.png" alt="france 2030 logo" height="50">
            </a>
        </div>
        <span style="font-size: 0.8rem; color: #9e9e9e">© {{{year}}}
            <a href="https://www.cemosis.fr" style="text-decoration: underline;">Cemosis</a>,
            <a href="https://unistra.fr" style="text-decoration: underline;"> Université de Strasbourg</a>
        </span>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="{{{uiRootPath}}}/js/figure-helper.js"></script>
<script src="{{{uiRootPath}}}/js/table-filter-sort.js"></script>

